<!--chooseQuiz.html-->
<style>
    .quiz-logo {
        width: 150px !important;
        height: 120px !important;
    }

    .pad-20 {
        padding: 20px;
    }
</style>

<div class="jumbotron" ng-controller="QuizListCtrl">

    <p class="text-center">Choose a quiz from the menu below to get started.</p>
    <br />
    <div class="row">
        <div class="col-sm-12 pad-20" ng-repeat="quiz in quizzes">
            <div class="row">
                <div class="col-sm-2">
                    <img ng-src="{{quiz.logo}}" class="img img-responsive quiz-logo" />
                </div>
                <div class="col-sm-9">
                    <h4>{{quiz.title}}</h4>
                    <p>{{quiz.description}}</p>
                </div>
                <div class="col-sm-1">
                    <a class="btn btn-default" ui-sref="Start Quiz">Start Quiz</a>
                </div>
            </div>
        </div>
    </div>
</div>